# Data and results
results/**
data/**
!data/test/
temp/**
logs/**

# Snakemake
.snakemake/**
*.snakemake_timestamp

# R renv
renv/library/**
renv/staging/**

# Python
__pycache__/**
*.pyc
.env/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# IDE
.vscode/
.idea/

# Internal development files
.dev/
*.Rmd
*.ipynb
.ipynb_checkpoints/
*.Rhistory
*.RData
*.swp
*~